html {
    margin: 0;
    padding: 0;
}

body {
    margin: 4px;
}

#map, #map2 {
    margin: 3px 0;
    height: 500px;
}

pre, code {
    font-size: 100%;
    line-height: normal;
}

div.code-description {
    margin: 5px;
}

div.code-description a {
    font-weight: bold;
}

div.leaflet-marker-icon.machine,
div.leaflet-marker-icon.accident,
div.leaflet-marker-icon.video,
div.leaflet-marker-icon.meteo {
    width: 32px !important;
    height: 32px !important;
    margin-left: -16px !important;
    margin-top: -16px !important;
}

div.leaflet-marker-icon.machine {
    background-image: url('images/car.png');
}

div.leaflet-marker-icon.accident {
    background-image: url('images/accident.png');
}

div.leaflet-marker-icon.video {
    background-image: url('images/video.png');
}

div.leaflet-marker-icon.meteo {
    background-image: url('images/meteo.png');
}

div.leaflet-marker-icon.weighing {
    background-image: url('images/weighing.png');
}

div.leaflet-marker-icon.traffic {
    background-image: url('images/traffic.png');
}

div.leaflet-marker-icon.jam {
    background-image: url('images/jam.png');
}

div.leaflet-marker-icon.snow {
    background-image: url('images/snow.png');
}

div.leaflet-marker-icon.meteo-a {
    background-image: url('images/meteo-a.png');
    width: 40px !important;
    height: 40px !important;
    margin-left: -20px !important;
    margin-top: -19px !important;
}

div.leaflet-marker-icon.camera-a {
    background-image: url('images/camera-a.png');
    width: 40px !important;
    height: 40px !important;
    margin-left: -20px !important;
    margin-top: -19px !important;
}

#attributes {
    width: 99%;
    margin: 4px 3px 10px 3px;
    padding: 2px;
    border: 1px solid lightgray;
}


ul.layersStatus {
    list-style: none;
}

ul.layersStatus li span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

ul.layersStatus li {
    font-weight: normal;
}

ul.layersStatus li.loading {
    font-weight: bold;
}

ul.layersStatus li.loading span {
    background-image: url('images/ajax-loader.gif');
}