html {
    margin: 0;
    padding: 0;
}

body {
    margin: 4px;
}

#map {
    margin: 3px 0;
    height: 500px;
}

pre, code {
    font-size: 100%;
    line-height: normal;
}

div.code-description {
    margin: 5px;
}

div.code-description a {
    font-weight: bold;
}

div.leaflet-marker-icon {
    width: 32px !important;
    height: 32px !important;
}

div.leaflet-marker-icon.machine {
    background-image: url('images/car.png');
}

div.leaflet-marker-icon.accident {
    background-image: url('images/accident.png');
}


div.leaflet-marker-icon.video {
    background-image: url('images/video.png');
}

div.leaflet-marker-icon.meteo {
    background-image: url('images/meteo.png');
}

div.leaflet-marker-icon.weighing {
    background-image: url('images/weighing.png');
}

div.leaflet-marker-icon.traffic {
    background-image: url('images/traffic.png');
}

div.leaflet-popup-content div.layers-selector p {
    margin: 0;
}

div.leaflet-popup-content div.layers-selector ul li {
    list-style: none;
}

div.leaflet-popup-content {
    width: auto !important;
    min-width: 250px
}

#attributes {
    width: 99%;
    margin: 4px 3px 10px 3px;
    padding: 2px;
    border: 1px solid lightgray;
}