body {
    margin: 4px;
}

#map {
    margin: 3px 0;
    height: 500px;
}

pre {
    margin: 10px 0;
}

div.leaflet-marker-icon {
    width: 32px !important;
    height: 32px !important;
}

div.leaflet-marker-icon.machine {
    background-image: url('images/car.png');
}

div.leaflet-marker-icon.accident {
    background-image: url('images/accident.png');
}