div.leaflet-popup-content div.layers-selector p {
    margin: 0;
}

div.leaflet-popup-content div.layers-selector ul li {
    list-style: none;
}

div.leaflet-popup-content {
    width: auto !important;
    min-width: 250px;
}

/*Incidents widget*/
div.incident-editor {
    background-color: #ffffff;
}

div.incident-editor a.point-mode {
    background: url('images/incident-editor.png') 0 0;
}

div.incident-editor a.point-mode:hover {
    background: url('images/incident-editor.png') 0 -26px;
}

div.incident-editor a.line-mode {
    background: url('images/incident-editor.png') -26px 0;
}

div.incident-editor a.line-mode:hover {
    background: url('images/incident-editor.png') -26px -26px;
}

div.incident-editor a.erase {
    background: url('images/incident-editor.png') -52px 0;
}

div.incident-editor a.erase:hover {
    background: url('images/incident-editor.png') -52px -26px;
}

/*Cluster styles*/
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}