div.leaflet-popup-content div.layers-selector p {
    margin: 0;
}

div.leaflet-popup-content div.layers-selector ul li {
    list-style: none;
}

div.leaflet-popup-content {
    width: auto !important;
    min-width: 250px
}