/* popup styles */
#map div.leaflet-popup-content-wrapper {
    border-radius: 8px;
}

#map div.leaflet-popup-content {
    margin: 2px 17px 2px 7px;
}

/*Cluster styles*/
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

img.leaflet-marker-icon {
    width: 44px !important;
    height: 44px !important;
    margin-left: -22px !important;
    margin-top: -22px !important;
}

.marker-cluster-RED {
    background-color: rgba(240, 12, 12, 0.6);
}

.marker-cluster-GREEN {
    background-color: rgba(255, 255, 255, 0.60);
}

.marker-cluster-YELLOW {
    background-color: rgba(222, 240, 12, 0.6);
}

.marker-cluster-GRAY,
.marker-cluster-failure,
.marker-cluster-disabled {
    background-color: rgba(96, 96, 96, 0.75);
}

div.leaflet-marker-icon.sensor {
    background-image: url('../images/sensors-states.png');
    width: 44px !important;
    height: 44px !important;
    /*margin-left: -22px !important;*/
    margin-top: -27px !important;
}

/* meteo styles */
.sensor.meteo-normal {
    background-position: 0 0;
}

.sensor.meteo-attention {
    background-position: -44px 0;
}

.sensor.meteo-alarm {
    background-position: -88px 0;
}

.sensor.meteo-inactive {
    background-position: -132px 0;
}

.sensor.meteo-failure {
    background-position: -176px 0;
}

.sensor.meteo-disabled {
    background-position: -220px 0;
}

.sensor.meteo-normal.selected {
    background-position: -264px 0;
}

.sensor.meteo-attention.selected {
    background-position: -308px 0;
}

.sensor.meteo-alarm.selected {
    background-position: -352px 0;
}

.sensor.meteo-inactive.selected {
    background-position: -396px 0;
}

.sensor.meteo-failure.selected {
    background-position: -400px 0;
}

.sensor.meteo-disabled.selected {
    background-position: -484px 0;
}

/* video styles */
.video-normal {
    background-position: 0 -88px;
}

/*.video-attention {*/
/*background-position: -44px -88px;*/
/*}*/

/*.video-alarm {*/
/*background-position: -88px -88px;*/
/*}*/

.video-inactive {
    background-position: -132px -88px;
}

.video-failure {
    background-position: -176px -88px;
}

.video-disabled {
    background-position: -220px -88px;
}

.video-normal.selected {
    background-position: -264px -88px;
}

/*.video-attention.selected {*/
/*background-position: -308px -88px;*/
/*}*/

/*.video-alarm.selected {*/
/*background-position: -352px -88px;*/
/*}*/

.video-inactive.selected {
    background-position: -396px -88px;
}

.video-failure.selected {
    background-position: -400px -88px;
}

.video-disabled.selected {
    background-position: -484px -88px;
}

/* traffic styles */
.traffic-normal {
    background-position: 0 132px;
}

.traffic-attention {
    background-position: -44px 132px;
}

.traffic-alarm {
    background-position: -88px 132px;
}

.traffic-inactive {
    background-position: -132px 132px;
}

.traffic-failure {
    background-position: -176px 132px;
}

.traffic-disabled {
    background-position: -220px 132px;
}

.traffic-normal.selected {
    background-position: -264px 132px;
}

.traffic-attention.selected {
    background-position: -308px 132px;
}

.traffic-alarm.selected {
    background-position: -352px 132px;
}

.traffic-inactive.selected {
    background-position: -396px 132px;
}

.traffic-failure.selected {
    background-position: -400px 132px;
}

.traffic-disabled.selected {
    background-position: -484px 132px;
}

div.sensorsPopup,
div.sensorsPopup table {
    padding: 0;
    margin: 0;
}

div.sensorsPopup td {
    padding: 1px;
    margin: 0;
}

div.sensorsPopup div.background {
    width: 22px;
    height: 22px;
}

div.sensorsPopup div.background {
    background-color: rgba(255, 255, 255, 0);
}

div.sensorsPopup div.background.GRAY {
    background-color: rgba(169, 169, 169, 0.51);
}

div.sensorsPopup div.background.RED {
    background-color: rgba(255, 0, 0, 0.51);
}

div.sensorsPopup div.background.GREEN {
    background-color: rgba(9, 255, 0, 0.51);
}

div.sensorsPopup div.background.YELLOW {
    background-color: rgba(255, 255, 0, 0.51);
}

div.sensorsPopup div.icon-sensor {
    width: 18px;
    height: 18px;
    margin-top: -20px;
    margin-left: 2px;
    background: url('../images/sensors-values.png') -70px 0;
}

/* Meteo sensors*/
div.sensorsPopup td.TemperatureAir div.background.GRAY,
div.sensorsPopup td.TemperatureRoad div.background.GRAY,
div.sensorsPopup td.TemperatureUnderRoad div.background.GRAY {
    background: url('../images/sensors-values.png') -50px 2px;
}

div.sensorsPopup td.TemperatureAir div.background.RED,
div.sensorsPopup td.TemperatureRoad div.background.RED,
div.sensorsPopup td.TemperatureUnderRoad div.background.RED {
    background: url('../images/sensors-values.png') -2px 2px;
}

div.sensorsPopup td.TemperatureAir div.background.GREEN,
div.sensorsPopup td.TemperatureRoad div.background.GREEN,
div.sensorsPopup td.TemperatureUnderRoad div.background.GREEN {
    background: url('../images/sensors-values.png') -32px 2px;
}

div.sensorsPopup td.TemperatureAir div.background.YELLOW,
div.sensorsPopup td.TemperatureRoad div.background.YELLOW,
div.sensorsPopup td.TemperatureUnderRoad div.background.YELLOW {
    background: url('../images/sensors-values.png') -15px 2px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionUndefined {
    background-position: -142px -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionNorth {
    background-position: 0 -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionSouth {
    background-position: -18px -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionWest {
    background-position: -36px -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionEast {
    background-position: -54px -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionNorthWest {
    background-position: -72px -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionNorthEast {
    background-position: -90px -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionSouthWest {
    background-position: -108px -18px;
}

div.sensorsPopup td.WindDirection div.icon-sensor.WindDirectionSouthEast {
    background-position: -126px -18px;
}

div.sensorsPopup td.PrecipitationCode div.icon-sensor.PRECIPITATION_RAIN {
    background-position: 0 -36px;
}

div.sensorsPopup td.PrecipitationCode div.icon-sensor.PRECIPITATION_SNOW {
    background-position: -18px -36px;
}

div.sensorsPopup td.PrecipitationCode div.icon-sensor.PRECIPITATION_RAIN_SNOW {
    background-position: -36px -36px;
}

div.sensorsPopup td.PrecipitationCode div.icon-sensor.PRECIPITATION_NO {
    background-position: -54px -36px;
}

div.sensorsPopup td.PrecipitationCode div.icon-sensor.PRECIPITATION_UNDEFINED {
    background-position: -72px -36px;
}

div.sensorsPopup td.Cloudiness div.icon-sensor.CloudinessUndefined {
    background-position: -54px -54px;
}

div.sensorsPopup td.Cloudiness div.icon-sensor.CloudinessSunny {
    background-position: -36px -54px;
}

div.sensorsPopup td.Cloudiness div.icon-sensor.CloudinessSmallCloudy {
    background-position: -18px -54px;
}

div.sensorsPopup td.Cloudiness div.icon-sensor.CloudinessCloudy {
    background-position: 0 -54px;
}

div.sensorsPopup td.AirPlessure div.icon-sensor {
    background-position: -72px 0px;
}

/* Traffic sensors*/
div.sensorsPopup td.AverageSpeed div.icon-sensor {
    background-position: 0 -180px;
}

div.sensorsPopup td.Amount div.icon-sensor {
    background-position: 0 -198px;
}

div.sensorsPopup td.Trucks div.icon-sensor {
    background-position: 0 -216px;
}