[general]
name=uniq_name
level=operation_level

[database]
host=host
port=port
database=database
user=user
password=password
rep_table=table
rep_schema=schema
com_table=table
com_schema=schema

[bus]
uri=uri
user=user
password=password
address=address
peers=peers

[path]
changesets=/path/to/directory
commits=/path/to/directory
dump=/path/to/directory

[logging]
log_file=/path/to/log/file
log_level=debug
