[connection]
host=192.168.255.101
port=5432
database=rosavto
user=luser
password=secret
bus=10.20.88.210

[zones]
table_name=thematic.borders_dept
field_name=url

[changes]
dir_name=/path/to/changeset/files

[logging]
log_file=/path/to/log/pg_replica.log
;available log levels: critical, error, warning, info, debug, notset
log_level=debug
