<table class="browse-tag-list">
    <tbody>
    <tr>
        <th class="browse-tag-k">addr:country</th>
        <td class="browse-tag-v">GB</td>
    </tr>
    <tr>
        <th class="browse-tag-k">addr:housename</th>
        <td class="browse-tag-v">The Lodge</td>
    </tr>
    <tr>
        <th class="browse-tag-k">addr:postcode</th>
        <td class="browse-tag-v">NR20 3DJ</td>
    </tr>
    <tr>
        <th class="browse-tag-k">addr:street</th>
        <td class="browse-tag-v">Main Road</td>
    </tr>
    <tr>
        <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/RU:Key:amenity?uselang=ru"
                                    title="Страница вики, описывающая тег amenity">amenity</a></th>
        <td class="browse-tag-v"><a href="http://wiki.openstreetmap.org/wiki/Tag:amenity=pub?uselang=ru"
                                    title="Страница вики, описывающая тег amenity=pub">pub</a></td>
    </tr>
    <tr>
        <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/RU:Key:building?uselang=ru"
                                    title="Страница вики, описывающая тег building">building</a></th>
        <td class="browse-tag-v">house</td>
    </tr>
    <tr>
        <th class="browse-tag-k">email</th>
        <td class="browse-tag-v">vikki@thelodge-tuddenham.co.uk</td>
    </tr>
    <tr>
        <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/RU:Key:fixme?uselang=ru"
                                    title="Страница вики, описывающая тег fixme">fixme</a></th>
        <td class="browse-tag-v">please check opening_hours. Website says Mo-Su.</td>
    </tr>
    <tr>
        <th class="browse-tag-k">kitchen_hours</th>
        <td class="browse-tag-v">Mo 12:00-20:00; Tu-Sa 12:00-21:00; Su 12:00-15:00</td>
    </tr>
    <tr>
        <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/RU:Key:name?uselang=ru"
                                    title="Страница вики, описывающая тег name">name</a></th>
        <td class="browse-tag-v">The Lodge</td>
    </tr>
    <tr>
        <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/RU:Key:opening hours?uselang=ru"
                                    title="Страница вики, описывающая тег opening_hours">opening_hours</a></th>
        <td class="browse-tag-v">Mo,Tu-Su 12:00+</td>
    </tr>
    <tr>
        <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/RU:Key:phone?uselang=ru"
                                    title="Страница вики, описывающая тег phone">phone</a></th>
        <td class="browse-tag-v">+44 1362 638466</td>
    </tr>
    <tr>
        <th class="browse-tag-k"><a href="http://wiki.openstreetmap.org/wiki/RU:Key:website?uselang=ru"
                                    title="Страница вики, описывающая тег website">website</a></th>
        <td class="browse-tag-v"><a href="http://www.thelodge-tuddenham.co.uk/" rel="nofollow">http://www.thelodge-tuddenham.co.uk/</a>
        </td>
    </tr>

    </tbody>
</table>